<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="7.0.0-beta1-10961" targetFramework="wpa81" />
  <package id="EntityFramework.Migrations" version="7.0.0-beta1-10961" targetFramework="wpa81" />
  <package id="EntityFramework.Relational" version="7.0.0-beta1-10961" targetFramework="wpa81" />
  <package id="EntityFramework.SQLite" version="7.0.0-beta1-10961" targetFramework="wpa81" />
  <package id="Ix-Async" version="1.2.2-withwpa81" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Immutable" version="1.1.22-beta" targetFramework="wpa81" />
  <package id="Microsoft.Data.SQLite" version="1.0.0-beta1-10338" targetFramework="wpa81" />
  <package id="Microsoft.Framework.ConfigurationModel" version="1.0.0-t140919185526" targetFramework="wpa81" />
  <package id="Microsoft.Framework.ConfigurationModel.Shared" version="1.0.0-t140919185526" targetFramework="wpa81" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta1-10346" targetFramework="wpa81" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-beta1-10333" targetFramework="wpa81" />
  <package id="Microsoft.Framework.Logging.Interfaces" version="1.0.0-beta1-10333" targetFramework="wpa81" />
  <package id="Remotion.Linq" version="1.15.15.0" targetFramework="wpa81" />
  <package id="System.Data.Common" version="1.0.0-beta1-10322" targetFramework="wpa81" />
</packages>